body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body > div {
  margin: 1em;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2em);
}
#log {
  flex-grow: 1;
  overflow-y: auto;
  outline: 1px solid grey;
}
.log-container pre {
  margin-block: 0;
}